@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

body{
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lexend Deca', sans-serif;
}

main{
  display: grid;
  grid-template-rows: 1fr;
  margin: 4rem 1.2rem;
}

section{
  padding: 43px;
}

section p{
  color: hsla(0, 0%, 100%, 0.75);
}

h1{
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
}

p{
  line-height: 1.7rem;
}

img, h1, p{
  margin-bottom: 1.5rem;
}

.section-1{
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}

.section-1 button{
  color: hsl(31, 77%, 52%);
}

.section-2{
  background-color: hsl(184, 100%, 22%);
}

.section-2 button{
  color: hsl(184, 100%, 22%);
}

.section-3{
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 10px 10px;
}

.section-3 button{
  color: hsl(179, 100%, 13%);
}

button{
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  vertical-align: middle;
  padding: 1rem 2.5rem;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Lexend Deca', sans-serif;
}

button:hover{
  background: transparent;
  transition: 0.4s ease-in-out;
  color: hsl(0, 0%, 95%);
}

@media (min-width: 768px){
  body{
    height: 100vh;
  }
  
  main{
    max-width: 890px;
    grid-template-columns: 1fr 1fr 1fr; 
  }
  
  .section-1{
    border-radius: 10px 0 0 10px;
  }
  
  .section-3{
    border-radius: 0 10px 10px 0;
  }
  
  button{
    margin-top: 3rem;
  }
}